.container {
  background-color: $color-4;
  text-align: center;
  font-family: $font-1;
  width: 500px;
  margin-top: 50px;
  border-radius: 10px;
  h1 {
    font-size: 2rem;
    color: #333;
  }

  .tour {
    color: $color-3;
  }
  img {
    width: 80px;
    height: 80px;
    margin: 10px;
  }

  p {
    font-size: 1.2rem;
    color: #666;
  }

  button {
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 1px;
    margin-bottom: 10px;
    background-color: $color-2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }

  button:hover {
    background-color: #2980b9;
  }
  .total {
    color: $color-1;
  }
  .joueur span {
    color: $color-3;
  }
  .gagne {
    color: red;
  }
}
